*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.profile-card{
    box-shadow: 2px 2px 2px 2px gray;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 100%;
}